<div class="page-bar">
  <ul class="page-breadcrumb">
      <li><span>Dashboard</span></li>
  </ul>
</div>
<div class="row">
  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
      <!-- BEGIN TITLE-->
      <h1 class="page-title">Average time of completing the transaction of order</h1>
      <!-- END TITLE-->
      <div class="portlet staticstable bordered">
          <div class="">
              <table class="table">
                  <tr>
                      <th>Order Number</th>
                      <th>Customer Name</th>
                      <th class="text-right">Time</th>
                  </tr>
                  <tbody>
                      <tr>
                          <td>UP775183268341</td>
                          <td>Ranjeet Singh</td>
                          <td class="text-right">2 Hrs 30 Mins</td>
                      </tr>
                      <tr>
                          <td>UP775183268341</td>
                          <td>Ranjeet Singh</td>
                          <td class="text-right">2 Hrs 30 Mins</td>
                      </tr>
                      <tr>
                          <td>UP775183268341</td>
                          <td>Ranjeet Singh</td>
                          <td class="text-right">2 Hrs 30 Mins</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
      <!-- BEGIN TITLE-->
      <h1 class="page-title">Which locality has maximum re-order?</h1>
      <!-- END TITLE-->
      <div class="portlet staticstable bordered">
          <div class="">
              <table class="table">
                  <tr>
                      <th>Name</th>
                      <th class="text-right">Times</th>
                  </tr>
                  <tbody>
                      <tr>
                          <td>Ranjeet Singh</td>
                          <td class="text-right">123</td>
                      </tr>
                      <tr>
                          <td>Ranjeet Singh</td>
                          <td class="text-right">1123423</td>
                      </tr>
                      <tr>
                          <td>Ranjeet Singh</td>
                          <td class="text-right">5</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <!-- BEGIN TITLE-->
      <h1 class="page-title">Frequently cancelling client</h1>
      <!-- END TITLE-->
      <div class="portlet staticstable bordered">
          <div class="">
              <table class="table">
                  <tr>
                      <th>Name</th>
                      <th class="text-right">Times</th>
                  </tr>
                  <tbody>
                      <tr>
                          <td>Ranjeet Singh</td>
                          <td class="text-right">75</td>
                      </tr>
                      <tr>
                          <td>Ranjeet Singh</td>
                          <td class="text-right">25</td>
                      </tr>
                      <tr>
                          <td>Ranjeet Singh</td>
                          <td class="text-right">5</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>

  </div>
<div class="clearfix"></div>
